body {
    font-family: 'Roboto Slab', serif!important;
      
}

/*Navigation Bar
.navbar {}*/

/* Jumbotron*/
.jumbotron {
    background-color: #D4E4F3;
    text-align: center;
    color: #000000;
}
.jumbotron a {
    background-color: #ffffff;
    color: #000000;
}
/* Cards */
.card {
    background-color: #ffffff;
    color: #000000;
    padding: 2%;
    margin-bottom: 5%;
}

.card h1 {
    color: #000000; 
    justify-content: center;
}


/* About Me Section */
.aboutTitle {
    display: inline-block; 
}
.titleBlock {
    display: flex;
    justify-content: center;
}

/* Footer Area */

.Footer {
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.Icons {
    display: flex;
    align-items: center;
    justify-content: center;

}

.Icons a {
    width: 44px;
    height: 44px;
    padding-left: 10px;
}

.btn{
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}
.btn:hover {
    -webkit-transform: scale(1.5, 0.0);
    -moz-transform: scale(1.5, 0.0);
    transform: scale(1.5, 0.0);
  }
  
